{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('transaction', 'add') }}" class="btn btn-primary">Add</a>
        <a href="{{ path('transaction', 'export') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
            Download CSV
        </a>
        <a href="{{ path('transaction', 'import') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>
            Import CSV
        </a>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th><a href="{{ path('transaction', 'index', {'sort': 'id'}) }}">Id</a></th>
                <th><a href="{{ path('transaction', 'index', {'sort': 'name'}) }}">Name</a></th>
                <th><a href="{{ path('transaction', 'index', {'sort': 'categoryId'}) }}">Category Id</a></th>
                <th><a href="{{ path('transaction', 'index', {'sort': 'description'}) }}">Description</a></th>
                <th><a href="{{ path('transaction', 'index', {'sort': 'transactionDate'}) }}">Transaction Date</a></th>
                <th><a href="{{ path('transaction', 'index', {'sort': 'value'}) }}">Value</a></th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.categoryId }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.transactionDate | date('Y-m-d') }}</td>
                    <td>{{ transaction.value | number_format(2) }}</td>
                    <td>
                        <a href="{{ path('transaction', 'edit', {'id': transaction.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                        <a href="{{ path('transaction', 'remove', {'id': transaction.id}) }}" class="btn btn-danger btn-xs">Remove</a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5"></td>
                <td><b>{{ calculator.totalValue | number_format(2) }}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a href="{{ path('transaction', 'index', {'sort': sort, 'page': page - 1}) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="{{ path('transaction', 'index', {'sort': sort, 'page': 1}) }}">1</a></li>
            <li><a href="{{ path('transaction', 'index', {'sort': sort, 'page': 2}) }}">2</a></li>
            <li><a href="{{ path('transaction', 'index', {'sort': sort, 'page': 3}) }}">3</a></li>
            <li><a href="{{ path('transaction', 'index', {'sort': sort, 'page': 4}) }}">4</a></li>
            <li><a href="{{ path('transaction', 'index', {'sort': sort, 'page': 5}) }}">5</a></li>
            <li>
                <a href="{{ path('transaction', 'index', {'sort': sort, 'page': page + 1}) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}