{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('category', 'add') }}" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Parent Id</th>
                <th>Name</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.parentId }}</td>
                    <td><a href="{{ path('category', 'view', {'id': category.id}) }}">{{ category.name }}</a></td>
                    <td>
                        <a href="{{ path('category', 'edit', {'id': category.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                        <a href="{{ path('category', 'remove', {'id': category.id}) }}" class="btn btn-danger btn-xs">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}