{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('category', 'edit', {'id': category.id}) }}" class="btn btn-warning">Edit</a>
        <a href="{{ path('category', 'remove', {'id': category.id}) }}" class="btn btn-danger">Remove</a>
    </div>
    <h1>{{ category.name }}</h1>
    <h2>Transactions</h2>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.id }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{{ transaction.value | number_format(2) }}</td>
                </tr>
            {% endfor %}
        <tr>
            <td colspan="3"></td>
            <td><b>{{ calculator.totalValue | number_format(2) }}</b></td>
        </tr>
        </tbody>
    </table>
{% endblock %}