{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('product', 'add') }}" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Weight</th>
                <th>Calories</th>
                <th>Cal / 100g</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.weight }}</td>
                    <td>{{ product.calories }}</td>
                    <td>{{ (product.caloriesPerGram * 100) | number_format(2) }}</td>
                    <td>
                        <a href="{{ path('product', 'edit', {'id': product.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                        <a href="{{ path('product', 'remove', {'id': product.id}) }}" class="btn btn-danger btn-xs">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}