{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('user', 'add') }}" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Last Activity</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user }}</td>
                    <td>{{ user.created | date('Y-m-d H:i:s') }}</td>
                    <td>
                        {% if user.lastActivity %}
                            {{ user.lastActivity | date('Y-m-d H:i:s') }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('message', 'write', {'id': user.id}) }}" class="btn btn-info btn-xs">Message</a>
                        <a href="{{ path('user', 'edit', {'id': user.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                        <a href="{{ path('user', 'remove', {'id': user.id}) }}" class="btn btn-danger btn-xs">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}