{% extends 'pdf.html.twig' %}

{% block body %}
    <div id="chart_div" style="width:800; height:400"></div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>Date</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for weight in weights %}
                <tr>
                    <td>{{ weight.date | date('Y-m-d H:i:s') }}</td>
                    <td>{{ weight.value | number_format(1) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.0', {'packages':['corechart']});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Weight');
            data.addRows([
                {% for weight in weights %}
                    [new Date({{ weight.date | date('Y') }}, {{ (weight.date | date('m')) - 1 }}, {{ weight.date | date('d, H, i, s') }}), {{ weight.value }}],
                {% endfor %}
            ]);

            var options = {
                'title':'Weight graph',
                'curveType': 'function',
                'width':800,
                'height':400
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
{% endblock %}