{% extends 'base.html.twig' %}

{% block body %}
    <div class="well">
        <a href="{{ path('meal', 'add') }}" class="btn btn-primary">Add</a>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th><a href="{{ path('meal', 'index', {'sort': 'date'}) }}">Date</a></th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meals %}
                <tr>
                    <td><a href="{{ path('meal', 'view', {'id': meal.id}) }}">{{ meal.date | date('Y-m-d H:i:s') }}</a></td>
                    <td>
                        <a href="{{ path('meal', 'edit', {'id': meal.id}) }}" class="btn btn-warning btn-xs">Edit</a>
                        <a href="{{ path('meal', 'remove', {'id': meal.id}) }}" class="btn btn-danger btn-xs">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}